.Button {
  padding: 8px 16px;
  background-color: var(--light-gray);
  border: none;
  border-radius: var(--border-radius);

  color: var(--text-color);
  font-size: var(--fz-medium);
  font-weight: var(--fw-medium);

  cursor: pointer;

  &.fullWidth {
    padding: 8px 0;
    width: 100%;
  }

  &.red {
    background-color: var(--red);
    color: var(--white);
  }

  &.green {
    background-color: var(--green);
    color: var(--white);
  }

  &.yellow {
    background-color: var(--yellow);
    color: var(--white);
  }

  &.blue {
    background-color: var(--blue);
    color: var(--white);
  }

  &.outlined {
    border: 1px solid var(--light-gray);
    background-color: var(--background-color);

    &:hover {
      border-color: var(--gray);
      background-color: var(--light-gray);
      filter: brightness(100%);
    }

    &:active {
      filter: brightness(80%);
    }
  }

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    filter: brightness(60%);
  }
}
