.board {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: center;

  margin-top: 36px;
}

.alert {
  padding: 16px;
  backdrop-filter: blur(15px);
  border: 1px solid var(--red);
  border-radius: var(--border-radius);
  position: absolute;
  top: 56px;
  left: 50%;
  transform: translate(-50%);

  color: var(--red);
  font-size: var(--fz-default);

  transition: display var(--transition) allow-discrete,
    overlay var(--transition) allow-discrete;
  animation: close var(--transition) ease-in forwards;

  &:focus {
    outline: none;
  }

  &[open] {
    animation: open var(--transition) ease-in forwards;
  }
}

@keyframes open {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes close {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
