.IconButton_container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  border: 1px solid var(--light-gray);
  border-radius: var(--border-radius);
  background-color: transparent;
  cursor: pointer;
}

.IconButton_container button:hover {
  background-color: var(--light-gray);
  border-color: var(--gray);
}

.IconButton_container button:active {
  filter: brightness(80%);
}
